###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> Project ###
/.idea/
.env
/php/
/node_modules/
###< Project ###

###> bref/symfony-bridge ###
/.serverless/
###< bref/symfony-bridge ###

