includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    tipsOfTheDay: false
    checkMissingIterableValueType: false
    symfony:
        container_xml_path: 'var/cache/dev/App_KernelDevDebugContainer.xml'
