includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    tipsOfTheDay: false
    checkMissingIterableValueType: false
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
            - '/Generator expects value type Symfony\\Component\\HttpKernel\\Bundle\\BundleInterface\, object given\./'