<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Est-ce la fin de la journee ?{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta property="og:title" content="Est-ce la fin de la journee ?">
        <meta property="og:description" content="{% block ogdescription %}{% endblock %}">
        <meta property="og:image" content="{% block ogimage %}{% endblock %}" />
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://estcelafindelajournee.fr/">
        <meta property="og:locale" content="fr">

        {% block stylesheets %}{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
        <style>
            body {
                text-align:center;
                padding-top: 100px;
                margin-left: 10px;
            }
            h1 {
                font-family: 'Roboto', sans-serif;
                margin-bottom: 40px;
                word-wrap: break-word;
            }
            img {
                max-width: 100%;
                height: auto;
            }
            footer {
                font-size: 30px;
                position: fixed;
                bottom: 10px;
                right: 15px;
            }
            footer a {
                color: rgba(0, 0, 0, 0.1);
            }
            footer a:hover {
                color: rgba(0, 0, 0, 0.3);
            }

            @media (prefers-color-scheme: dark) {
                body {
                    color: #ddd;
                    background-color: #222;
                }
                footer a {
                    color: rgba(255, 255, 255, 0.1);
                }
                footer a:hover {
                    color: rgba(255, 255, 255, 0.3);
                }
            }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <footer>
        <a href="https://github.com/golpilolz/estcelafindelajournee" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </footer>
</html>
