{% extends 'base.html.twig' %}

{% block description %}
    {{ reponse }}
{% endblock %}

{% block ogdescription %}
    {{ reponse }}
{% endblock %}

{% block body %}
    <h1>{{ reponse }}</h1>
{% endblock %}